Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  performance-*,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|[\\/])src[\\/](f64app|zimg[\\/]resize)[\\/]'
FormatStyle: none
CheckOptions:
  bugprone-easily-swappable-parameters.MinimumLength: '4'
